@using udemy_mvc_cv.Models.Entity
@model List<TblSosyalMedya>

<div class="social-icons">
    <a class="social-icon" href="https://www.linkedin.com/in/ali-kurtulmus/"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="https://github.com/alikurtulmus"><i class="fab fa-github"></i></a>
    <a class="social-icon" href="https://twitter.com/makurtulmus"><i class="fab fa-twitter"></i></a>
</div>
